@import "tailwindcss";

@theme {
  --color-primary: #ffbd59; /* SculptArtFitness brand color */
  --color-secondary: #c49102; /* Secondary color for accents */
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f7ff;
  color: #333;
  margin: 0;
  padding: 0;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* color: var(--color-primary); */
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    font-weight: 700;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.05em;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #555;
    font-size: 1.2rem;
  }
}

@media (max-width: 640px) {
  @layer base {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}

@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scrollX 30s linear infinite;
}

.marquee-wrapper:hover .marquee-track {
  animation-play-state: paused;
}

.spinner {
  width: 56px;
  height: 56px;
  border: 11.2px #c49102 double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .project:hover .overlay {
    opacity: 1;
  }
}

@media (hover: none) {
  .project.show-overlay .overlay {
    opacity: 1;
  }
}
